@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter-VariableFont_slnt\,wght.ttf);
    src: url(/fonts/static/Inter-Bold.ttf);
    src: url(/fonts/static/Inter-Regular.ttf);
    src: url(/fonts/static/Inter-SemiBold.ttf);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif ;
    line-height: clamp(1.3em, calc(1em + 1vh), 1.6em);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 8%);

}
#profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
h2 {
    color: transparent;
    font-weight: 800;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, hsl(104, 94%, 52%),rgb(202, 237, 7), rgb(255, 255, 255), hsl(120, 88%, 53%));
    background-clip: text;
    font-size: 2rem;
}
#location {
    color: hsl(64, 75%, 54%);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.quote {
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
}
.linksbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-weight: 700;
    width: 90%;
}
a {
    color: hsl(135, 96%, 50%);
    text-decoration: none;
    padding: 1em;
    width: 100%;
    background-color:  hsl(0, 0%, 20%);
    border-radius:0.5rem;
    border: 1px solid hsl(135, 96%, 50%);
}
.links-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
    width: 80vw;
    background-color: hsl(0, 0%, 12%);
    border-radius: 0.5rem;
    box-shadow: 0 0 50px 5px hsla(270, 7%, 94%, 0.2);
    border: 1px solid hsl(135, 96%, 50%);
}
.image-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

a:visited {

}

a:hover {
    color: hsl(0, 0%, 8%);
    background-color: hsl(135, 96%, 50%);
}
a:active {
    background-color: hsla(135, 96%, 50%, 0.422);
    position: relative;
    top: 5px;
    border: 1px solid hsla(135, 96%, 50%, 0.279);
}

@media screen and (min-width: 600px) {
    * {
        font-size: calc(1rem + 0.5vw);
    }
    .links-profile {
        width: 40vw;
        min-width: 500px;
        padding: 1em;
    }
    a {
        width: 100%;
    }
}